
  .container {
	width: 600px;
	height: 500px;
	margin: 0 auto;
	position: relative;
	border: 2px solid #000;
	overflow: hidden;
}

.ball {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #f00;
	position: absolute;
	top: 250px;
	left: 290px;
}

.paddle {
	width: 100px;
	height: 10px;
	background-color: #000;
	position: absolute;
	bottom: 10px;
	left: 250px;
}

.bricks {
	width: 500px;
	height: 200px;
	position: absolute;
	top: 20px;
	left: 50px;
}

.brick {
	width: 48px;
	height: 20px;
	background-color: #00f;
	float: left;
	margin: 2px;
}

.brick.hit {
	background-color: #fff;
}
